
.controles{
    background-color: #24303c;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    width: 92%;
    border: 1px, solid #1f53c5;

}

.body{
    background-color: #164e6e;;
}

.controltitulo{
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}

.controlsection{
    background:#24303c;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}

.controlboton{
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 100%;
    width: 100%;
}

